/*----------base----------*/
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
* {
  font-feature-settings: "palt" 1, "trad" 1;
  letter-spacing: 1px;
}

body {
  font-family: "Yu Gothic", YuGothic;
}
.heading {
  font-size: 0.6rem;
  font-weight: bold;
}

/*----------header----------*/
.header {
  position: relative;
  display: block;
  width:100%;
  height:500px;
  background-color: yellow;
  transition: 0.3s;
}
.top {
  position: absolute;
  font-weight: bold;
  font-size: 5rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  width:100%;
  height:150px;
  text-align: center;
  line-height: 6rem;
  /*background-color: red;*/
}
.header:hover {
  /*text-decoration: underline;*/
  color: yellow;
  background-color: black;
  cursor: pointer;
  box-sizing: border-box;
  border: 10px solid yellow;
}
/*----------main----------*/
.main {
  display: block;
}
/*----------left----------*/
.left {
  float: left;
  padding: 60px;
  line-height: 2rem;
  /*background-color: blue;*/
}
ul.memo li {
list-style: none;
}
ul.memo > li::after {
content: "※";
padding-left: 5px;
color: red;
}
/*----------right----------*/
.right {
  float: right;
  background-color: gray;
  padding: 60px 60px 100px 60px;
  margin: auto;
  width:10%;
}
p {
  line-height: 1.4;
}
p.first:first-line {
  font-size: 24px;
  color:red;
  font-weight:bold;
  line-height: 2.4;
  /*background-color: gray;*/
}

.clear {
  clear: both;
}
/*----------footer----------*/
.footer {
  width:100%;
  height:100px;
  background-color: green;
}
